<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1 id='heading'>Movies</h1>
    <div class="container">
        <div id="vueApp">
            <div class="card-deck" id="deck">
                <div class="card" v-for="i in numMovies">
                    <img v-bind:src='imageCall(i)' class="card-img-top" v-bind:alt='apiMovies[i-1].title'>
                    <div class="card-body">
                        <h5 class="card-title">{{apiMovies[i-1].title}}</h5>
                        <p class="card-text">{{apiMovies[i-1].overview}}</p>
                        <button @click="addAdult(i-1)">Adult</button>
                        <button @click="addChild(i-1)">Child</button>
                        <!-- " -->
                    </div>
                </div>
            </div>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Movie</th>
                        <th scope="col">Adult Tickets</th>
                        <th scope="col">Children Tickets</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col"></th>
                    </tr>

                    <!-- <tr>
                        <th scope='row'>${this.apiMovies[i].title}</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr> -->
                </thead>
                <tbody id='cart'>
                    <tr v-for='i in numMovies' style='display:none;' v-bind:id="'tr' + (i-1)">
                        <th scope='row'>{{apiMovies[i-1].title}}</th>
                        <td  v-bind:id="'adult' + (i-1)"></td>
                        <td v-bind:id="'child' + (i-1)"></td>
                        <td>@mdo</td>
                        <td><button>Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <script>
        var call = $.getJSON(
            "https://api.themoviedb.org/3/movie/now_playing?api_key=ab8a8893b0afa6fdc8643b146b27b9f3",
            function (movies) {
                var vue = new Vue({
                    el: "#vueApp",
                    data: {
                        numMovies: 3,
                        apiMovies: movies.results,
                        adultT: [
                            //multidimensional array for separate counters
                        ],
                        included: false,
                        moviesInTable: []
                    },
                    methods: {
                        imageCall: function (i) {
                            imageSrc = "https://image.tmdb.org/t/p/w500/" + this.apiMovies[
                                i - 1].poster_path
                            return imageSrc
                        },
                        addAdult: function (i) {
                            if (this.adultT.length == 0) {
                                for (j = 0; j < this.numMovies; j++) {
                                    this.adultT.push([0, 0])
                                    // this.adultT.push([0,1])
                                    console.log("Added Movie " + j)
                                }
                            }

                            console.log(this.adultT)
                            // console.log("Adult Tickets" + this.adultT[i][0])
                            // this.adultT.push([i][0])
                            // this.adultT[i][0]
                            var tickets = this.adultT[i][0]
                            tickets++
                            console.log("Tickets " + tickets)
                            this.adultT[i][0] = tickets
                            console.log("Adult Tickets " + this.adultT[i][0])
                            console.log("i " + i)
                            var mov = i
                            console.log("mov " + i)


                            // console.log(this.moviesInTable)
                            this.moviesTable(i)
                        },
                        addChild: function (i) {
                            if (this.adultT.length == 0) {
                                for (j = 0; j < this.numMovies; j++) {
                                    this.adultT.push([0, 0])
                                    // this.adultT.push([0,1])
                                }
                            }

                            console.log(this.adultT)
                            console.log("Child " + this.adultT[i][1])
                            // this.adultT.push([i][0])
                            // this.adultT[i][0]
                            var tickets = this.adultT[i][1]
                            tickets++
                            this.adultT[i][1] = tickets
                            console.log("tickets " + this.adultT[i][1])
                            console.log("i " + i)
                            var mov = i
                            console.log("mov " + i)


                            // console.log(this.moviesInTable)
                            this.moviesTable(i)
                        },
                        moviesTable: function (i) {
                            console.log("i: " + i)
                            this.moviesInTable.forEach(mov => {
                                console.log("mov: " + i)
                                if (mov == i) {
                                    this.included = true
                                }
                            })
                            if (this.included == false) {
                                console.log("not included")
                                this.moviesInTable.push(i)
                                document.querySelector('#cart').innerHTML += `
                                    <tr>
                                        <th scope='row'>${this.apiMovies[i].title}</th>
                                        <td id='adult${i}'></td>
                                        <td id='child${i}'></td>
                                        <td>@mdo</td>
                                        <td><button>Remove</button></td>
                                    </tr>`
                            } else {
                                this.included = false
                            }
                            if (this.adultT[i][0] > 0) {
                                var template =
                                    `${this.adultT[i][0]} <button onclick='delAdult(${i}, 0)'>-</button>`
                                document.querySelector(`#adult${i}`).innerHTML = template

                                // <button @click='delAdult(${i}, 0)'>-</button>

                                // var app = document.querySelector(`#adult${i}`)
                                // var button = ``
                                // saferInnerHTML(app, button, true);

                            } else {
                                document.querySelector(`#adult${i}`).innerHTML = ""
                            }
                            if (this.adultT[i][1] > 0) {
                                document.querySelector(`#child${i}`).innerHTML = `${this.adultT[i][1]}`
                            }
                        },
                        delAdultVue: function () {
                            console.log("Del function")
                            this.adultT[i][t] = this.adultT[i][t] - 1
                            console.log("New Ticket: " + this.adultT[i][t])
                        }
                    }

                })

            })

        function delAdult(i, t) {
            console.log("Del function. i: " + i + " t: " + t)
            console.log(Vue.adultT)
            this.call.vue.adultT[i][t] = this.vue.adultT[i][t] - 1
            console.log("New Ticket: " + this.vue.adultT[i][t])
        }
    </script>

    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/saferInnerHTML@1/dist/saferInnerHTML.polyfills.min.js">
    </script>

</body>

</html>